/* Here is your custom css styles. */
.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(../images/post/flags2.png) no-repeat;
    background-position: 99px 99px;
    background-size: 16px 3222px;
    filter:drop-shadow(0 0 1px #dbdad8)
}
.flag-AD {
    background-position:0 0
}

.flag-AE {
    background-position:0 -13px
}

.flag-AF {
    background-position:0 -26px
}

.flag-AG {
    background-position:0 -39px
}

.flag-AI {
    background-position:0 -52px
}

.flag-AL {
    background-position:0 -65px
}

.flag-AM {
    background-position:0 -78px
}

.flag-AO {
    background-position:0 -91px
}

.flag-AQ {
    background-position:0 -104px
}

.flag-AR {
    background-position:0 -117px
}

.flag-AS {
    background-position:0 -130px
}

.flag-AT {
    background-position:0 -143px
}

.flag-AU {
    background-position:0 -156px
}

.flag-AW {
    background-position:0 -169px
}

.flag-AX {
    background-position:0 -182px
}

.flag-AZ {
    background-position:0 -195px
}

.flag-BA {
    background-position:0 -208px
}

.flag-BB {
    background-position:0 -221px
}

.flag-BD {
    background-position:0 -234px
}

.flag-BE {
    background-position:0 -247px
}

.flag-BF {
    background-position:0 -260px
}

.flag-BG {
    background-position:0 -273px
}

.flag-BH {
    background-position:0 -286px
}

.flag-BI {
    background-position:0 -299px
}

.flag-BJ {
    background-position:0 -312px
}

.flag-BL {
    background-position:0 -325px
}

.flag-BM {
    background-position:0 -338px
}

.flag-BN {
    background-position:0 -351px
}

.flag-BO {
    background-position:0 -364px
}

.flag-BQ {
    background-position:0 -377px
}

.flag-BR {
    background-position:0 -390px
}

.flag-BS {
    background-position:0 -403px
}

.flag-BT {
    background-position:0 -416px
}

.flag-BW {
    background-position:0 -429px
}

.flag-BY {
    background-position:0 -442px
}

.flag-BZ {
    background-position:0 -455px
}

.flag-CA {
    background-position:0 -468px
}

.flag-CC {
    background-position:0 -481px
}

.flag-CD {
    background-position:0 -494px
}

.flag-CF {
    background-position:0 -507px
}

.flag-CG {
    background-position:0 -520px
}


.flag-CH {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/post/flags.png) no-repeat;
    /* background-position: 52px 42px; */
    /* width: 11px !important; */
    background-position:-286px -42px;
    filter:none
}

.flag-CI {
    background-position:0 -546px
}

.flag-CK {
    background-position:0 -559px
}

.flag-CL {
    background-position:0 -572px
}

.flag-CM {
    background-position:0 -585px
}

.flag-CN {
    background-position:0 -598px
}

.flag-CO {
    background-position:0 -611px
}

.flag-CR {
    background-position:0 -624px
}

.flag-CU {
    background-position:0 -637px
}

.flag-CV {
    background-position:0 -650px
}

.flag-CW {
    background-position:0 -663px
}

.flag-CX {
    background-position:0 -676px
}

.flag-CY {
    background-position:0 -689px
}

.flag-CZ {
    background-position:0 -702px
}

.flag-DE {
    background-position:0 -715px
}

.flag-DJ {
    background-position:0 -728px
}

.flag-DK {
    background-position:0 -741px
}

.flag-DM {
    background-position:0 -754px
}

.flag-DO {
    background-position:0 -767px
}

.flag-DZ {
    background-position:0 -780px
}

.flag-EC {
    background-position:0 -793px
}

.flag-EE {
    background-position:0 -806px
}

.flag-EG {
    background-position:0 -819px
}

.flag-EH {
    background-position:0 -832px
}

.flag-ER {
    background-position:0 -845px
}

.flag-ES {
    background-position:0 -858px
}

.flag-ET {
    background-position:0 -871px
}

.flag-FI {
    background-position:0 -884px
}

.flag-FJ {
    background-position:0 -897px
}

.flag-FK {
    background-position:0 -910px
}

.flag-FM {
    background-position:0 -923px
}

.flag-FO {
    background-position:0 -936px
}

.flag-FR {
    background-position:0 -949px
}

.flag-GA {
    background-position:0 -962px
}

.flag-GB {
    background-position:0 -975px
}

.flag-GD {
    background-position:0 -988px
}

.flag-GE {
    background-position:0 -1001px
}

.flag-GF {
    background-position:0 -1014px
}

.flag-GG {
    background-position:0 -1027px
}

.flag-GH {
    background-position:0 -1040px
}

.flag-GI {
    background-position:0 -1053px
}

.flag-GL {
    background-position:0 -1066px
}

.flag-GM {
    background-position:0 -1079px
}

.flag-GN {
    background-position:0 -1092px
}

.flag-GP {
    background-position:0 -1105px
}

.flag-GQ {
    background-position:0 -1118px
}

.flag-GR {
    background-position:0 -1131px
}

.flag-GS {
    background-position:0 -1144px
}

.flag-GT {
    background-position:0 -1157px
}

.flag-GU {
    background-position:0 -1170px
}

.flag-GW {
    background-position:0 -1183px
}

.flag-GY {
    background-position:0 -1196px
}

.flag-HK {
    background-position:0 -1209px
}

.flag-HN {
    background-position:0 -1222px
}

.flag-HR {
    background-position:0 -1235px
}

.flag-HT {
    background-position:0 -1248px
}

.flag-HU {
    background-position:0 -1261px
}

.flag-ID {
    background-position:0 -1274px
}

.flag-IE {
    background-position:0 -1287px
}

.flag-IL {
    background-position:0 -1300px
}

.flag-IM {
    background-position:0 -1313px
}

.flag-IN {
    background-position:0 -1326px
}

.flag-IO {
    background-position:0 -1339px
}

.flag-IQ {
    background-position:0 -1352px
}

.flag-IR {
    background-position:0 -1365px
}

.flag-IS {
    background-position:0 -1378px
}

.flag-IT {
    background-position:0 -1391px
}

.flag-JE {
    background-position:0 -1404px
}

.flag-JM {
    background-position:0 -1417px
}

.flag-JO {
    background-position:0 -1430px
}

.flag-JP {
    background-position:0 -1443px
}

.flag-KE {
    background-position:0 -1456px
}

.flag-KG {
    background-position:0 -1469px
}

.flag-KH {
    background-position:0 -1482px
}

.flag-KI {
    background-position:0 -1495px
}

.flag-KM {
    background-position:0 -1508px
}

.flag-KN {
    background-position:0 -1521px
}

.flag-KP {
    background-position:0 -1534px
}

.flag-KR {
    background-position:0 -1547px
}

.flag-KW {
    background-position:0 -1560px
}

.flag-KY {
    background-position:0 -1573px
}

.flag-KZ {
    background-position:0 -1586px
}

.flag-LA {
    background-position:0 -1599px
}

.flag-LB {
    background-position:0 -1612px
}

.flag-LC {
    background-position:0 -1625px
}

.flag-LI {
    background-position:0 -1638px
}

.flag-LK {
    background-position:0 -1651px
}

.flag-LR {
    background-position:0 -1664px
}

.flag-LS {
    background-position:0 -1677px
}

.flag-LT {
    background-position:0 -1690px
}

.flag-LU {
    background-position:0 -1703px
}

.flag-LV {
    background-position:0 -1716px
}

.flag-LY {
    background-position:0 -1729px
}

.flag-MA {
    background-position:0 -1742px
}

.flag-MC {
    background-position:0 -1755px
}

.flag-MD {
    background-position:0 -1768px
}

.flag-ME {
    background-position:0 -1781px
}

.flag-MF {
    background-position:0 -1794px
}

.flag-MG {
    background-position:0 -1807px
}

.flag-MH {
    background-position:0 -1820px
}

.flag-MK {
    background-position:0 -1833px
}

.flag-ML {
    background-position:0 -1846px
}

.flag-MM {
    background-position:0 -1859px
}

.flag-MN {
    background-position:0 -1872px
}

.flag-MO {
    background-position:0 -1885px
}

.flag-MP {
    background-position:0 -1898px
}

.flag-MQ {
    background-position:0 -1911px
}

.flag-MR {
    background-position:0 -1924px
}

.flag-MS {
    background-position:0 -1937px
}

.flag-MT {
    background-position:0 -1950px
}

.flag-MU {
    background-position:0 -1963px
}

.flag-MV {
    background-position:0 -1976px
}

.flag-MW {
    background-position:0 -1989px
}

.flag-MX {
    background-position:0 -2002px
}

.flag-MY {
    background-position:0 -2015px
}

.flag-MZ {
    background-position:0 -2028px
}

.flag-NA {
    background-position:0 -2041px
}

.flag-NC {
    background-position:0 -2054px
}

.flag-NE {
    background-position:0 -2067px
}

.flag-NF {
    background-position:0 -2080px
}

.flag-NG {
    background-position:0 -2093px
}

.flag-NI {
    background-position:0 -2106px
}

.flag-NL {
    background-position:0 -2119px
}

.flag-NO {
    background-position:0 -2132px
}

.flag-NP {
    background-position:0 -2145px
}

.flag-NR {
    background-position:0 -2158px
}

.flag-NU {
    background-position:0 -2171px
}

.flag-NZ {
    background-position:0 -2184px
}

.flag-OM {
    background-position:0 -2197px
}

.flag-PA {
    background-position:0 -2210px
}

.flag-PE {
    background-position:0 -2223px
}

.flag-PF {
    background-position:0 -2236px
}

.flag-PG {
    background-position:0 -2249px
}

.flag-PH {
    background-position:0 -2262px
}

.flag-PK {
    background-position:0 -2275px
}

.flag-PL {
    background-position:0 -2288px
}

.flag-PM {
    background-position:0 -2301px
}

.flag-PN {
    background-position:0 -2314px
}

.flag-PR {
    background-position:0 -2327px
}

.flag-PS {
    background-position:0 -2340px
}

.flag-PT {
    background-position:0 -2353px
}

.flag-PW {
    background-position:0 -2366px
}

.flag-PY {
    background-position:0 -2379px
}

.flag-QA {
    background-position:0 -2392px
}

.flag-RE {
    background-position:0 -2405px
}

.flag-RO {
    background-position:0 -2418px
}

.flag-RS {
    background-position:0 -2431px
}

.flag-RU {
    background-position:0 -2444px
}

.flag-RW {
    background-position:0 -2457px
}

.flag-SA {
    background-position:0 -2470px
}

.flag-SB {
    background-position:0 -2483px
}

.flag-SC {
    background-position:0 -2496px
}

.flag-SD {
    background-position:0 -2509px
}

.flag-SE {
    background-position:0 -2522px
}

.flag-SG {
    background-position:0 -2535px
}

.flag-SH {
    background-position:0 -2548px
}

.flag-SI {
    background-position:0 -2561px
}

.flag-SJ {
    background-position:0 -2574px
}

.flag-SK {
    background-position:0 -2587px
}

.flag-SL {
    background-position:0 -2600px
}

.flag-SM {
    background-position:0 -2613px
}

.flag-SN {
    background-position:0 -2626px
}

.flag-SO {
    background-position:0 -2639px
}

.flag-SR {
    background-position:0 -2652px
}

.flag-SS {
    background-position:0 -2665px
}

.flag-ST {
    background-position:0 -2678px
}

.flag-SV {
    background-position:0 -2691px
}

.flag-SX {
    background-position:0 -2704px
}

.flag-SY {
    background-position:0 -2717px
}

.flag-SZ {
    background-position:0 -2730px
}

.flag-TC {
    background-position:0 -2743px
}

.flag-TD {
    background-position:0 -2756px
}

.flag-TF {
    background-position:0 -2769px
}

.flag-TG {
    background-position:0 -2782px
}

.flag-TH {
    background-position:0 -2795px
}

.flag-TJ {
    background-position:0 -2808px
}

.flag-TK {
    background-position:0 -2821px
}

.flag-TL {
    background-position:0 -2834px
}

.flag-TM {
    background-position:0 -2847px
}

.flag-TN {
    background-position:0 -2860px
}

.flag-TO {
    background-position:0 -2873px
}

.flag-TR {
    background-position:0 -2886px
}

.flag-TT {
    background-position:0 -2899px
}

.flag-TV {
    background-position:0 -2912px
}

/* .flag-TW {
    background-position:0 -2925px
} */

.flag-TZ {
    background-position:0 -2938px
}

.flag-UA {
    background-position:0 -2951px
}

.flag-UG {
    background-position:0 -2964px
}

.flag-UM {
    background-position:0 -2977px
}

.flag-US {
    background-position:0 -2990px
}

.flag-UY {
    background-position:0 -3003px
}

.flag-UZ {
    background-position:0 -3016px
}

.flag-VA {
    background-position:0 -3029px
}

.flag-VC {
    background-position:0 -3042px
}

.flag-VE {
    background-position:0 -3055px
}

.flag-VG {
    background-position:0 -3068px
}

.flag-VI {
    background-position:0 -3081px
}

.flag-VN {
    background-position:0 -3094px
}

.flag-VU {
    background-position:0 -3107px
}

.flag-WF {
    background-position:0 -3120px
}

.flag-WS {
    background-position:0 -3133px
}

.flag-XK {
    background-position:0 -3146px
}

.flag-YE {
    background-position:0 -3159px
}

.flag-YT {
    background-position:0 -3172px
}

.flag-ZA {
    background-position:0 -3185px
}

.flag-ZM {
    background-position:0 -3198px
}

.flag-ZW {
    background-position:0 -3211px
}
/* 个人页面 */
#articleContent p {
    text-align: justify;
    hyphens: auto;
}

.publication {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直居中对齐图片和信息 */
    margin-bottom: 20px; /* 添加间距以避免重叠 */
}

.publication .img-item {
    width: 20% !important; /* 设置图片宽度 */
}

.publication .img-item .img {
    width: 20% !important; /* 设置图片宽度 */
}

.publication .img-item .img-shadow {
    box-shadow: none;
}

.publication-info {
    width: 75%; /* 设置信息块宽度 */
}

.publication-info h3 {
    margin: 0; /* 移除标题的默认上下间距 */
    overflow: hidden;
    height: auto; /* 或者设置一个足够的高度值 */
    line-height: normal; /* 或者设置一个合适的行高值 */
}

.publication-info a {
    height: auto; /* 或者设置一个足够的高度值 */
    line-height: normal; /* 或者设置一个合适的行高值 */
}

.publication-info h4 {
    margin: 0; /* 移除标题的默认上下间距 */
    overflow: hidden;
}

.publication-info p {
    margin: 0 !important; /* 移除标题的默认上下间距 */
    overflow: hidden;
}

.post-info .post-info-left {
    width: 65%;
}

.post-info .post-info-right {
    width: 35%;
}


@media screen and (max-width: 580px) {
    .publication .img-item {
        width: 0 !important; /* 设置图片宽度 */
    }
    
    .publication .img-item .img {
        width: 0 !important; /* 设置图片宽度 */
    }
    
    .publication-info {
        width: 100%; /* 设置信息块宽度 */
    }

    .post-info .post-info-left {
        width: 100% !important;
    }

    .post-info .post-info-right {
        width: 0 !important;
        display: none !important;
    }
}

/* 数学公式过宽在小屏幕上的处理 */
.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.non-mobile {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .non-mobile {
      display: block;
    }
  }


@font-face {
  font-family: 'HengShanMaoBiCaoShu';
  src: url('/fonts/HengShanMaoBiCaoShu-2.ttf') format('truetype');
  font-display: swap;
}