.postcard-wrapper{
    padding-top: 30px;
  }
  .postcard-wrapper .postcard-box{
    padding: 5px !important;
  }
  
  .postcard-wrapper .postcard-item {
    display: block;
    overflow: hidden;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 0;
    position: relative;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 1px 3px 0 rgba(118, 117, 117, 0.22);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
  }
  
  .postcard-cover-box{
    width: 100%;
    padding-top: 60%;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  .postcard-cover-box .postcard-cover-img {
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .postcard-item .postcard-name{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #666;
    margin: 0;
  }